<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">Recipes</h1>
      <h2>Breakfasts</h2>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "breakfasts") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h2>Lunches</h2>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "lunch") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h2>Entrees</h2>
      {{ $entrees := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "entrees") }}
      
      <h3>Soups & Stews</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "soups") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Pastas</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "pastas") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Chicken</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "chicken") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Beef</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "beef") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Pork</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "pork") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Lamb</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "lamb") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Fish</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "fish") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Vegetarian</h3>
      <ul>
        {{ $p := where $entrees "Params.tags" "intersect" (slice "vegetarian") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h2>Desserts</h2>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "desserts") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h2>Beverages</h2>
      {{ $beverages := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "beverages") }}
      {{ $alcoholic_beverages := where $beverages "Params.tags" "intersect" (slice "alcohols") }}
      {{ $nonalcoholic_beverages := complement $alcoholic_beverages $beverages }}

      <h3>Alcoholic</h3>
      <ul>
        {{ range $alcoholic_beverages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h3>Non-Alcoholic</h3>
      <ul>
        {{ range $nonalcoholic_beverages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h2>Other</h2>
      <h3>Sauces</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "sauces") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h3>Salads</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "salads") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      <h3>Sides</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "sides") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Spreads</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "spreads") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Appetizers</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "appetizers") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Snacks</h3>
      <ul>
        {{ $p := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "snacks") }}
        {{ range $p }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      
      <h3>Uncategorized</h3>
      <ul>
        {{ $listed := where .RegularPages.ByTitle "Params.tags" "intersect" (slice "breakfast" "lunch" "entree" "entrees" "desserts" "beverages" "sauces" "salads" "sides" "spreads" "appetizers" "snacks") }}
        {{ $other := complement $listed .RegularPages.ByTitle }}
        {{ range $other }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </body>
</html>

