<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
	  <p>Published: {{ .Date.Format "2006-01-02" }}</p>
	  <p>Last Updated: {{ .Lastmod.Format "2006-01-02" }}</p>
      <p>Tags:</p>
      <ul class="tags">
        {{ range .Params.tags }}
        <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
      {{ .Content }}
    </div>
  </body>
</html>

