<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      <ul>
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li><a href="/tags/{{ $name }}">{{ $name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </body>
</html>

