<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      <ul class="posts">
        {{ range where .RegularPages "Params.tags" "intersect" . }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </body>
</html>

