<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>{{ .Title }}</title>
</head>

