<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body>
  {{ partial "header" . }}
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <ul>
      <li><a href="{{ .Site.BaseURL }}recipes/">Recipes</a></li>
      <li><a href="{{ .Site.BaseURL }}items/">Items</a></li>
      <li><a href="{{ .Site.BaseURL }}references/">References</a></li>
    </ul>
    </ul>
  </div>
</body>

</html>
