<!DOCTYPE html>
<html>
  {{ partial "head" . }}

  <body>
    {{ partial "header" . }}
    <div class="container">
      <h1 class="title">{{ .Title }}</h1>
      <ul class="posts">
        {{ range .Pages }}
        <li class="post">
          <a href="{{ .PermaLink }}">
            <span>{{ .Title }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
      <ul>
    </div>
  </body>

</html>